<% unless session[:user] %>
    <a href="/signin">ログイン</a> <a href="/signup">新規登録</a><br>
    <h2>未ログイン</h2>
<% else %>
    <div id="form-box">
    <form action="/new" method="post" enctype="multipart/form-data">
        <p>名前<input type="text" name="user_name"></p>
        <p>コメント<input type="text" name="body"></p>
        <input type="file" name="file">
        <input type="submit" value="投稿">
    </form>
    </div>
    <h2><%= User.find(session[:user]).mail %>としてログイン</h2>
    <a href="/signout">ログアウト</a>
    <ul>
            <% @contents.each do |content| %>
            <article>
                <figure>
                    <li>
                        <section>
                        <h3><%= content.name %></h3>
                        <p><%= content.body %></p>
                        </section>
                        <% unless content.img.empty? %>
                        <object data="<%= content.img %>" type="application/pdf" ></object><br>
                        <% end %>
                        <span>
                            <form action="/good/<%= content.id %>" method="post">
                            <input type="submit" value="いいね"><%= content.good %>
                            </form>
                        </span>
                        <span>
                            <form action="/bad/<%= content.id %>" method="post">
                            <input type="submit" value="よくないね"><%= content.bad %>
                            </form>
                        </span>   
                        <div class="extra content">
                            <div class="ui two buttons">
                                <!-- メモの編集・削除に関しては下記を編集 -->
                                <a class="ui basic blue button" href="/edit/<%= content.id %>">Edit</a>
                                <a class="ui basic red button" href="/delete/<%= content.id %>">Delete</a>
                            </div>
                        </div>
                    </li>
                </figure>
            </article>
            <% end %>
    </ul>
<% end %>
</body>
</html>