<% unless session[:user] %>
    <a href="/signin">ログイン</a> <a href="/signup">新規登録</a><br>
    <h2>未ログイン</h2>
<% else %>
    <form action="/new" method="post" enctype="multipart/form-data">
        <p>名前<input type="text" name="user_name"></p>
        <p>コメント<input type="text" name="body"></p>
        <p><input type="file" name="file"></p>
        <p><input type="submit" value="投稿"></p>
    </form>
    <h2><%= User.find(session[:user]).mail %>としてログイン</h2>
    <a href="/signout">ログアウト</a>
    <ul>
            <% @contents.each do |content| %>
            <li>
                <p><%= content.name %></p>
                <p><%= content.body %></p>
                <% unless content.img.empty? %>
                <object data="<%= content.img %>" type="application/pdf" ></object>
                <% end %>
                <span>
                    <form action="/delete/<%= content.id %>" method="post">
                        <input type="submit" value="削除">
                    </form> 
                </span>
                <span>
                    <form action="/edit/<%= content.id %>" method="post">
                        <input type="submit" value="編集">
                    </form>
                </span>
            </li>
            <% end %>
    </ul>
<% end %>